region                       = "eu-central-1"
project_name                 = "alnao-dev-terraform-esempio15-wordpress-scaling-lab"
instance_type                = "t3.micro"
key_name                     = ""

# Sicurezza laboratorio: limita almeno SSH al tuo IP
allowed_http_cidr            = ["0.0.0.0/0"]
allowed_ssh_cidr             = ["xxx.0.113.10/32"]

# HTTPS disabilitato nel profilo low-cost (abilitalo in prod)
enable_https                 = false
acm_certificate_arn          = ""

# RDS low-cost
# Mantieni single-AZ in lab per ridurre costi
rds_multi_az                 = false
rds_backup_retention_period  = 0
rds_deletion_protection      = false

db_name                      = "wordpressdb"
db_username                  = "wpadmin"
db_password                  = "ChangeMe123!"
db_instance_class            = "db.t3.micro"
db_allocated_storage         = 20

# Auto Scaling low-cost in lab
asg_min_size                 = 1
asg_desired_capacity         = 1
asg_max_size                 = 2
cpu_target_value             = 60
alb_request_target_value     = 600

temporary_desired_capacity   = 2
temporary_duration_hours     = 2
